/* Primary stylesheet for COMP001A Module 3 Assignment - Online Store
   Author: TJ Miranda */
body {
    font-family: sans-serif;
    padding: 1em;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {    
    font-size: 180%;
    color: #ff0000
}

h2 {
    font-size: 140%;
    
}

ul {
    list-style-type: circle;
}

div img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none; /*para alisin ang underline sa mga links*/
  text-decoration-color: #000000; /*para sa kulay ng underline sa mga links*/
  color: #000000; /*para sa kulay ng text sa mga links*/
}

.site-header {
  display: flex;
  align-items: center; 
  gap: 25px;           
  background-color: #bebebe; 
  color: #000000;
  padding: 10px 20px 30px 20px;
  justify-content: center;
}

.header-logo {
  height: 180px;        
  width: auto;         
  object-fit: contain;
  align-self: center;
}

.header-title {
  font-size: 2.5rem;
  margin: 0;
  Color: #000000;
  font-family: 'verdana', sans-serif;
  font-weight: bold;
  font-variant-ligatures: common-ligatures;
  align-self: center;
}

.product-image {
  max-width: 30%; 
  height: auto;   
  display: block;  
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  margin: 0;
}

main {
  flex: 1; 
}